sup {
    line-height: 0;

    /* The following rules (or similar) likely come from browser 
     * style and are not needed
     */
    font-size: 0.7em;
    vertical-align: top; 
    position: relative; 
    top: .3em;
}